
        <div class="main-container row">
            <header class="wrapper clearfix">
                <h1 class="title">Warboard</h1>
                <h2>A status tool</h2>
               <!--  <nav>
                    <ul>
                        <li><a href="#">All</a></li>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                    </ul>
                </nav> -->
            </header>

             <div class="main wrapper row clearfix">
                <ul class="blocks">

                <% @projects.each do |project| %>
                    <li>
                        <article class="block stealz-android">
                            <div class="corner">+</div>
                            <header><h2><%= project.name %></h2></header> 
                            <div class="info">
                                <%= project.description %>
                            </div>

                            <ul class="options">
                              <li><span class="ss-picture"> <%= link_to 'Show', project %></li>
                              <li><span class="ss-write"> <%= link_to 'Edit', edit_project_path(project) %></li>
                              <li><span class="ss-trash"> </span><%= link_to ' Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                            </ul>
                        </article>
                    </li>
                  <% end %>
                  </ul>

                  <a href="<%= new_project_path %>" class="small button"><span class="ss-file"></span> New Project</a>
                  

                </div> <!-- #main -->
        

            <footer class="wrapper">
            </footer>
        </div> <!-- #main-container -->

        <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>

